header {
    text-align: center;
    background-color: darkslategray;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategray;
    color: white;
    text-align: center;
 }